@media (prefers-color-scheme: dark){
    body {
        background-color: #313131;
        color: #FFFFFF;
    }
    #header {
        background-color: #000000;
    }
  }
@media (prefers-color-scheme: light){
    #header {
        background-color: #c00909;
    }
  }