body {
  background-color: rgb(180, 183, 187);
}

* {
  box-sizing: border-box;
}
  
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.design-process-info {
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  /* width: 61%; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'comic sans ms';
}

.design-process {
  background-color: rgb(116, 143, 177);
  padding: 15px;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 40px;
}

.target-audience {
  background-color: rgb(116, 164, 177);
  padding: 15px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 40px;
}

.storyboard {
  background-color: rgb(116, 143, 177);
  padding: 15px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 40px;
}

.design-choices {
  background-color: rgb(116, 164, 177);
  padding: 15px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 40px;
}

.gannt-chart {
  background-color: rgb(116, 143, 177);
  padding: 15px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 40px;
}

.gannt-chart-image {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}